@font-face {
  font-family: Anybody;
  src: url(../fonts/Anybody/Anybody-VariableFont_wdth.ttf);
  font-style: normal;
}

@font-face {
  font-family: Anybody;
  src: url(../fonts/Anybody/Anybody-Italic-VariableFont_wdth.ttf);
  font-style: italic;
}